In [14]:
import pandas as pd
import pyodbc
import getpass

In [16]:
# Create connection

server = 'localhost'
database = 'test'
username = 'sa'
password = getpass.getpass()
cnxn = pyodbc.connect('DRIVER=/usr/local/lib/libmsodbcsql.17.dylib;SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
#cursor.execute("SELECT @@version;")
#row = cursor.fetchone()
#while row:
#    print(row)
#    row = cursor.fetchone()

········

For a given CSV create the 'Create Table' script.

In [10]:
filename = 'dataquest/data/food_info.csv' #in config
tablename = 'food_info' # string method needed
df = pd.read_csv(filename)
rows = df.shape[0] # to be inserted to a metadata col
cols = df.shape[1]
fields = df.columns


#print(df.columns)

In [17]:
sql = ''

for counter, i in enumerate(fields):
    sql = sql + ('['+i+']' + ' varchar(500),') + '\n'
    
sql_create = 'CREATE TABLE ' + tablename + '(' + '\n' + sql + '[meta_createdat] DATETIME DEFAULT GETDATE())'
cursor.execute(sql_create)

In [18]:
cursor.commit()

In [19]:
cnxn.close()